* text=auto
*.html text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.mjs text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.webmanifest text working-tree-encoding=UTF-8
